%ul#gallery-carousel.bxslider
  - @photos.each do |photo|
    %li.slide= image_tag photo.image_url.to_s, class: 'img-responsive'

- content_for :footer_contact_info do
  :javascript
    $(document).ready(function() {
      enableSlider('.bxslider');
    });

  = "#{mail_to 'john@johnkmillerphoto.com'} | (612) 807.6018".html_safe

