/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "bootstrap_and_overrides", "compass/css3", "font-awesome";
@import "maximage/jquery.maximage";

body{

  &.home {

    font-family: Georgia;
    position: relative;
    background: image-url('jkm_web_main_bg2.png') no-repeat 0 15%;


    &.index #branding {
      display: block;
      position: absolute;
      left: 40%;
      top: 150%;
      width: 426px;
      height: 426px;
      background: image-url('jkm_logo2.png') no-repeat 0 0;
    }
  }
}

#footer {
  position: fixed;
  bottom: 3em;
  left: 40%;
  color: #fff;
  font-size: 1.4em;
  @include text-shadow(1px 1px 1px rgba(0,0,0, .4));



  a {

    color: inherit;
    text-decoration: none;
  }
}
